<div class="footer">
			<div class="footer-middle">
				<div class="container">
					<div class="col-md-4 footer-middle-in">
						<h6>Information</h6>
						<ul class=" in">
							<li><a href="/static/terms">Terms And Conditions</a></li>
						    <li><a href="/static/privacy">Privacy Policy</a></li>
						    <li><a href="/static/about">About Us</a></li> 
						    <li><a href="/static/contact">Contact Us</a></li> 
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 footer-middle-in">
						<h6>Social</h6>
						<ul class=" in">
							<li><a href="https://www.facebook.com/EatTreatOnline"><span class="social social-facebook"></span> Facebook</a></li>
						    <li><a href="https://twitter.com/EatTreatOnline"><span class="social social-twitter"></span> Twitter</a></a></li>
						    <li><a href="https://www.instagram.com/eattreat/"><span class="social social-instagram"></span> Instagram</a></li> 
						    <li><a href="https://in.pinterest.com/eattreat/"><span class="social social-pinterest"></span> Pintrest</a></li> 
						    <li><a href="mailto:info@eattreatonline.com"><span class="social social-e-mail-envelope"></span> info@eattreatonline.com</a></li> 
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 footer-middle-in">
						<h6>Get in Touch</h6>
						<span>For Bulk / Customised orders</span>
						<form>
							<input type="text" value="Enter your contact Number" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Enter your contact Number';}">
							<span>We'll be in touch shortly</span>
							<input type="submit" value="Submit">	
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<p class="footer-class">&copy; 2016 EatTreat. All Rights Reserved</p>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
