<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<ul id="taxonomies" class="nav navbar-nav" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <h4 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h4>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <% end %>
  <% end %>
</ul>
<script>
$("#taxonomies > h4:nth-child(1)").hover(function(){
    $('#taxonomies > div:nth-child(2)').show();
},function(){
    $('#taxonomies > div:nth-child(2)').hide();
});
</script>
