<% max_level = Spree::Config[:max_level_in_taxons_menu] || 2 %>

	<ul id="taxonomies" class="nav navbar-nav" data-hook>
	  
	<% if @taxonomies && @taxonomies.any? %>
	  

	<% @taxonomies.each do |taxonomy| %>
	    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
	      <li class='taxonomy-root dropdown'> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %>
		<span class="caret"></span></a>
		<ul class="dropdown-menu"><%= taxons_tree(taxonomy.root, @taxon, max_level) %></ul></li>
	    <% end %>
	  <% end %>
	      <li class='taxonomy-root dropdown'><a href="http://eattreat.in"/>Magazine</a></li>
	      <li class='taxonomy-root dropdown'><a href="http://eattreat.in/category/recipes/"/>Recipes</a></li>
	      <li class='taxonomy-root dropdown'><a href="http://eattreat.in/category/feedtures/"/>Feedtures</a></li>
	<% end %>
	</ul>

<script>
$('a.dropdown-toggle').text(function ( i, txt ) {    
    return txt.replace( 'Shop by ', '' );
});
//Add Hover effect to menus
jQuery('ul.nav li.dropdown').hover(function() {
  jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
}, function() {
  jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
});
</script>


