<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators 
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->



</div>

  <!-- Left and right controls 
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->




<div data-hook="homepage_products">
  <h3 style="width: 100%;text-align: center;font-family: ubuntu-bold; padding-top: 1em;">Trending Items</h3>
  <label class="line"></label>
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
    
  <% end %>
</div>

<h3 style="width: 100%;text-align: center;font-family: ubuntu-bold; padding-top: 1em;">Trending Articles</h3>
<label class="line"></label>

<div class="content-mid">
  <div class="row article-container row-eq-height" id="article-loading">
    <div class="col-md-12 article-bounds" id="home-featured-article">
      </div>
  </div>
  <div class="row article-set" id="home-recent-articles">
  <div class="clearfix"></div>
  </div>
</div>

<style>
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
</style>

<script type="text/javascript" charset="utf-8">
  $().ready(function() {

    console.log(-1 * $('#myCarousel').offset().left);
      $('.carousel-inner').css('left',-1 * $('#myCarousel').offset().left);

    $(window).resize(function(){
      console.log(-1 * $('#myCarousel').offset().left);
      $('.carousel-inner').css('left',-1 * $('#myCarousel').offset().left);
    });

    $.ajax({
        type: 'POST',
        url: 'http://www.eattreat.in/api/get_recent_posts',
        data: 'count=6',
        beforeSend: function(){
          $('#home-featured-article').html('<i class="glyphicon glyphicon-refresh gly-spin" style="width:100%;text-align:center;font-size:5em;animation:spin 2s infinite linear;"></i><br><div style="width:100%;text-align:center;font-size:3em;"">Loading Articles...</div>');
        },
        success: function(json) {
          $('#article-loading').remove();
          for(i = 5; i >= 0; i--){
            $('#home-recent-articles').prepend('<div class="col-md-4 article-container eq-height"><a href="' + json.posts[i].url + '" class="b-link-stroke b-animate-go  thickbox article-bounds article-trending"><div img-src="' + json.posts[i].thumbnail_images.large.url + '" class="bg-img article-bounds" alt=""></div><div class="b-wrapper1 long-img"><div class="home-article"><h3 class="home-article-title">' + json.posts[i].title + '</h3><div class="home-article-content"> ' + json.posts[i].excerpt + '</div></div></div></a></div>');
          }

          $('.bg-img').each(function(){
            $(this).css({"background-image" : "url('" + $(this).attr('img-src') + "')", "background-size" : "cover", "background-position" : "center"});
          })

          $('.home-article').each(function(){
            $(this).parent().hover(function(){
              $(this).children('.home-article').animate({bottom : "0"}, 500);
            },function(){
              $topPos = (-1 * ( $(this).children('.home-article').height() - $(this).children('.home-article').children('.home-article-title').height() - parseInt($(this).children('.home-article').children('.home-article-title').css('padding-top')) - 12));
              $(this).children('.home-article').animate({bottom : $topPos }, 300);
            });

            $(this).css("bottom" , function(){return (-1 * ( $(this).height() - $(this).children('.home-article-title').height() - parseInt($(this).children('.home-article-title').css('padding-top')) - 12))});
          });
        }
    });
  });
</script>
